@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.image-container {
  height: 100vh;
  background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/landing-page-sm-bg.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  color: #ffffff;
  font-family: Roboto;
  text-align: center;
  font-size: 40px;
}

.nav-container {
  padding: 18px;
}

.nav-icon-image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 15px;
  align-items: center;
}

.navbar-icon {
  display: flex;
}

.nav-bar-container {
  align-self: center;
}

.content-container {
  display: none;
  flex-direction: column;
}

.hide-Container {
  display: flex;
}

.content-container-full-width {
  display: none;
}

.container {
  background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/landing-page-sm-bg.png");
  background-size: cover;
  height: 100vh;
}

.content-style {
  font-family: Open Sans;
  font-size: 15px;
  color: #594d6d;
  text-decoration: none;
  padding: 12px;
  border-top: solid 1px #e7e5ea;
}

.sign-up-button {
  color: #12022f;
  font-weight: bold;
  font-size: 16px;
  background-color: #ffdda9;
  border: none;
  height: 45px;
  width: 100px;
  border-radius: 30px;
}

@media (min-width: 768px) {
  .navbar-icon {
    display: none;
  }

  .nav-container {
    padding: 18px;
  }

  .content-container-full-width {
    display: flex;
    align-items: center;
  }

  .content-style {
    border-top: none;
  }

  .content-container {
    display: none;
  }

  .image-container {
    height: 100vh;
    background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/landing-page-lg-bg.png");
    background-size: cover;
  }
}
